@model DisplayPetShortDto

<div class="card m-md-2 col-md-3">
    @if (string.IsNullOrEmpty(Model.Image))
    {
        <img class="card-img-top" alt="Imagine I am image">
    }
    else
    {
        <img src="data:image;base64,@Model.Image">
    }
    <div class="card-body">
        Name: @Model.Name
        <br />
        Owner: <a target="_blank" href="@Url.Action("UserProfile", "Home", new { id = Model.Owner.Id })">@Model.Owner.Name</a>
        <br />
        Species: @Model.Species
        <br />
        Price: @Model.Price$
        <br />
        Rating: @Model.Rating
        <br />
        Short Description: @Model.ShortDescription
        <br />
    </div>
    <button class="btn btn-info" type="button" onclick="openPetCard(@Model.Id)" data-bs-toggle="modal" data-bs-target="#modalContainer">More Info</button>
    <button class="btn btn-secondary" onclick="addToCart(@Model.Id)">Add to basket</button>
</div>