@{
    ViewData["Title"] = "My Pets";
    ViewData["CurrentId"] = "myPets";
    Layout = "/Views/UserSettings/_Layout.cshtml";
}
@model IList<WebUI.Models.User.Settings.ShowPetDTO>


<p>
    <a asp-controller="PetOwner" asp-action="CreateNewPet">Create New Pet</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name of the pet
            </th>
            <th>
                Species and subspecies
            </th>
            <th>
                Status
            </th>
            <th>
                Price
            </th>
            <th>
                Rating
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Species)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    <a asp-controller="PetOwner" asp-action="EditPet" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>