@*
    Pet card that is displayed on the main "Shop" page.
*@
@model WebUI.Models.Pet.SimplePetCardDTO

<div class="card m-md-2 col-md-3">
    <img class="card-img-top" alt="Imagine I am image">
    <div class="card-body">
        Name: @Model.Name
        <br />
        Species and subspecies: @Model.Species
        <br />
        Price: @Model.Price$
        <br />
        Owner Name: @Model.OwnerName
        <br />
        Activity: @Model.ActivityType.ToString()
        <br />
        Rating: @Model.Rating
        <br />
    </div>
    <button class="btn btn-info" type="button" onclick="openPetCard(@Model.Id)" data-bs-toggle="modal" data-bs-target="#modalContainer">More Info</button>
    <button class="btn btn-secondary" onclick="addToCart(@Model.Id)">Add to basket</button>
</div>