@model WebUI.Models.User.Settings.ShowPetDTO

<div class="border border-primary mb-3">
    Name: @Model.Name
    <br />
    Species and sub species: @Model.Species
    <br />
    Rating: @Model.Rating
    <br/>
    Price: @Model.Price$
    <br/>
    <button id="@Model.Id" onclick="addToCart(@Model.Id)">Add to basket</button>
</div>